@keyframes crescer {
    0% {
      height: 0; /* Altura inicial (0) */
    }
    100% {
      height: 80vh; /* Altura final (ajuste o valor conforme necessário) */
    }
  }

.aulasContainer{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vh;
}

.off{
    display: none;
}

.on{
    display:flex ;
    height: 80vh;
    width: 119.8vh;
    background-color: #ffffff;
    border: solid 2px #FF0000;
    margin: -6vh 0vh 0vh 0vh;
    box-shadow: 0.2vh 0.5vh 10px rgba(0, 0, 0, 0.5);
    animation-name: crescer;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: 1; 
    border-radius: 1vh;
}


.btnOff{
    margin: 2vh 0vh 0vh 0vh;
    border: solid 2px #FF0000;
    height: 6vh;
    width: 120vh;
    background-color:#CFD1D2 ;
    box-shadow: 0vh 0.4vh 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 1vh;
}

.btnOff:hover{
    background-color: #FF0000;
    transition: 0.5s ease-in;
    box-shadow: 0.4vh 0.8vh 10px rgba(0, 0, 0, 0.5);
}


.btnOn{
    margin: 2vh 0vh 0vh 0vh;
    border: solid 2px #FF0000;
    border-radius: 1vh;
    height: 6vh;
    width: 120vh;
    background-color:#FF0000 ;
    z-index: 1;
}


.btntxtOff{
    padding-top:1vh ;
    height: 6vh;
    width: 120vh;
    font-family: 'Jakarta', sans-serif;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 3vh;
    font-weight: bold;
    color: #FF0000;
    font-weight: bold;
}

.btntxtOff:hover{
    color: #ffffff;
    transition: 0.5s;
}

.btntxtOn{
    padding-top:1vh ;
    height: 6vh;
    width: 120vh;
    font-family: 'Jakarta', sans-serif;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 3vh;
    font-weight: bold;
    color: #ffffff;
}