@keyframes crescer {/*Animação do botão*/
    0% {
      height: 0; /* Altura inicial (0) */
    }
    100% {
      height: 80vh; /* Altura final (ajuste o valor conforme necessário) */
    }
  }

  /*Estilo da divisão geral do componente Botao*/
.aulasContainer{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vh;
}

/*Destruindo a divisão*/
.off{
    display: none;
}

/*Classe da divisão do botão quando está ativa*/
.on{
    display: block;
    padding-top: 6vh;/**/
    height: 65vh;/*Altura da divisão*/
    width: 119.8vh;/*Largura*/
    background-color: #ffffff;/*Cor de fundo*/
    border: solid 2px #FF0000;/*Borda*/
    margin: -6vh 0vh 0vh 0vh;/*Margem*/
    box-shadow: 0.2vh 0.5vh 10px rgba(0, 0, 0, 0.5);/*Sombra das bordas*/
    animation-name: crescer;/*Nome da animação*/
    animation-duration: 0.1s;/*Duração da animação*/
    animation-timing-function: ease-in-out; /*Formato de animação*/
    animation-iteration-count: 1; /*Retiçoes da animação*/
    border-radius: 1vh;/*Curvatura da borda*/

}

/* Estilo para o contêiner do texto */
.on article{
    margin: -45vh 0 0 64vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start; /* Alinhe os elementos à esquerda */
  }
  
/*Estilo para o titulo da divisão*/
.on p{
    margin-bottom: 5vh;
    font-family: 'Jakarta', sans-serif;
    font-size: 4.5vh;
    font-weight: bold;
} 

/*estilo da descrição da divisão*/
.on h6{
    width: 52vh;
    font-size: 3vh;
    height: 34vh;
}

/*Classe da divisão principal*/
.menu{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    margin-top: 8vh;
    padding: 0 10vh;
}

/*Estilo da barra horizontal vermelha*/
.barraA{
    position: relative;
    width: 98.5%;
    height: 0.50vh;
    border-radius: 0.1rem;
    background-color: #BA0028;
    margin: 2vh 0 6vh 2vh;
}

.bottomContainer{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

/*Estilo do ID do iframe dos videos*/
#aulaMP4{
    position: relative;
    margin: 13vh 0 0 4vh;
    height: 37.0625vh;
    width:  55vh;
    border: inset 0.5vh #BA0028;
}

/*Estilização da divisão do botão*/
.btnDoc{
    align-self: center;
    padding: 0.4vh 0;
    text-align: center;
    height: 4vh;
    width: 33vh;
    border: 0.2vh solid;
    border-bottom: 0.75vh solid #000;
    border-top-left-radius: 3vh;
    border-bottom-right-radius: 2.5vh;
    margin-top: 4vh;
    background-color: #BA0028;
    
}

/*Estilização do link*/
.btnDoc a{
    text-decoration: none;
    color: #ffff;
    padding: 1.20vh 13.45vh;
    font-size: 3.5vh;
    height: 4.5vh;
    width: 35vh;
}

/*Efeito de transição nas tags do botão*/
.btnDoc:hover{
    width: 35vh;
    border-bottom: 1.33vh solid #000;
    border-top-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    transition: 0.33s;
    background-color: #ffffff;

}

.btnDoc a:hover{
    color: #000000;
    transition: 0.5s;
}
