.btnOff{
    margin: 2vh 0vh 0vh 0vh;
    border: solid 2px #FF0000;
    height: 6vh;
    width: 120vh;
    background-color:#CFD1D2 ;
    box-shadow: 0vh 0.4vh 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 1vh;
}

.btnOff:hover{
    background-color: #FF0000;
    transition: 0.5s ease-in;
    box-shadow: 0.4vh 0.8vh 10px rgba(0, 0, 0, 0.5);
}


.btnOn{
    margin: 2vh 0vh 0vh 0vh;
    border: solid 2px #FF0000;
    border-radius: 1vh;
    height: 6vh;
    width: 120.2vh;
    background-color:#FF0000 ;
    z-index: 1;
}


.btntxtOff{
    padding-top:1vh ;
    height: 6vh;
    width: 120vh;
    font-family: 'Jakarta', sans-serif;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 3vh;
    font-weight: bold;
    color: #FF0000;
    font-weight: bold;
}

.btntxtOff:hover{
    color: #ffffff;
    transition: 0.5s;
}

.btntxtOn{
    padding-top:1vh ;
    height: 6vh;
    width: 120vh;
    font-family: 'Jakarta', sans-serif;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 3vh;
    font-weight: bold;
    color: #ffffff;
}
