.flex{
    display: flex;
    flex-direction: row
}

.categoriasConteiner{
    border: 0.33vh solid #ff2020;
    border-radius: 2vh;

    height: 40vh;
    width: 28vh;

    left:0;
    position: fixed;
    margin-left: 3vw;

    background-color: #fff;
    box-shadow: 0.2vh 0.5vh 10px rgba(0, 0, 0, 0.204);/*Sombra das bordas*/

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.filterIcon{
    margin: 2vh 0 0 -2vh;
    width: 4vh;
    height: auto;
}

#IdOff{
    background-color: white;
    cursor:pointer;
}

#IdOn{
    background-color: rgba(128, 128, 128, 0.774);
    color: rgb(244, 244, 244);
}