/* Fontes */

@font-face{
    font-family: Arial Rounded MT Bold;
    font-weight: 800;
    src: url(../../font/arial-rounded-mt-bold.ttf);
  }
  
  @font-face{
  font-family: Jakarta;
  font-weight: 300;
  src: url(../../font/PlusJakartaSans-Light.ttf);
  }
  
  @font-face{
    font-family: Impact;
    font-weight: 800;
    src: url(../../font/impact.ttf);
    }
  
  /* Resumo Titulo */

h3{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 6vh;
    color: #FF0000;
    margin-bottom: 2vh;
}

  /* Titulo Sessao Cards */

h4{
    padding: 0 30vh;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 6vh;
    color: #FF0000;
    margin-bottom: 2vh;
}

    /* Descrição */
    
h6{
    font-family: 'Jakarta', sans-serif;
    font-size: 3.5vh;
    width: 110vh;
    font-weight: normal;
}

.impactTitles{
    text-align: center;
    font-family: 'Impact';
    font-size: 7vh;
    margin-bottom: 2vh;
}

p{
  width: auto;
}

h1{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 4vh;
  color: #1f1f1f;
  margin-top: 2vh;
  text-align: center;
}

.continua{
  font-size: 9vh;
  color: #BA0028;
  margin-bottom: 2vh;
  text-align: right;
  margin-right: 5vh;
}

.instaName{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 2.5vh;
  color: #231D1970;
  margin: 10vh 0 0.3vh 0.3vh;
}

.instaTitle{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 3.5vh;
  color: #BA0028;
  margin-bottom: 2vh;
}

.instaBottonTxt{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 2.5vh;
  color: rgb(86, 86, 86);
  padding: 1.9vh 1.35vh;
}

.instaBottonTxt:hover{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 2.5vh;
  color: #fff;
  padding: 1.9vh 1.35vh;
  transition: 0.5s;
}

.categoriasContent{
  padding: 0 1vh 0.3vh 1vh;
  font-size: 2.3vh;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #fff;
  border-radius: 1vh;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.634);
  margin-right: 2vh;
}

.dataContent{
  padding: 0 1vh 0.3vh 1vh;
  font-size: 2.3vh;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #fff;
  border-radius: 1vh;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.634);
  margin-right: 2vh;
}

.categorias2 button{
  padding: 0 1vh 0.3vh 1vh;
  font-size: 2.3vh;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #BA0028;
  border-radius: 1vh;
  text-align: center;
  background-color: #ECECEC;
  margin: 1vh 2vh;
}

.categoriaTxt{
  font-size: 3vh;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  color: #000000;
  border-radius: 1vh;
  text-align: center;
  margin-bottom: 1vh;
}

.youtubeTitle{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 4.2vh;
  color: #fff;
  margin: 11vh 0 0 5vh;
}

.youtubeDescription{  
  font-family: 'Jakarta', sans-serif;
  font-size: 3vh;
  color: #fff;
  margin: 3vh 0 0 5vh;
}